.body{
    text-align: center;
    padding: 2rem;
    background-color: rgb(242, 241, 239);
    
}
body{
    background-color: rgb(242, 241, 239);  
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dapan{
    margin: 1rem;
    text-align: left
}
.cauhoi{
    margin: 1rem;
    background-color: white;
    box-shadow: 0 0 36px #dee2e5;
    padding:1rem;
    width:70%;
}
.dap{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%

}
@media(max-width:1000px){
    .dap{
        margin-left: 2%;
        margin-right: 2%
    }
}

button{
    height:50px ;
    width:100px ;
    background-color: rgba(236, 100, 75, 1);
    border: 0;
    border-radius: 0.5rem;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 2rem 0;
    /* position: relative;
    top:1.8rem;
    z-index: 0; */
    
    margin-bottom: 10px;
}
.content a{
    text-decoration: none;
    color: black;
}
.content a:hover{
    text-decoration: underline;
    color: rgba(236, 100, 75, 1)
}
.bodyy{
    background-color: white;
    box-shadow: 0 0 36px #dee2e5;
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    padding: 4rem
}
@media(max-width:1000px){
    .bodyy{
        width: 85%;
        padding: 2rem
    }
}
